api.task_logic
----------------

.. image:: _static/{{ python_class_prefix }}TaskLogic.svg
   :target: _static/{{ python_class_prefix }}TaskLogic.svg

.. automodule:: {{ python_folder_name }}.task_logic
   :members:
   :undoc-members:
   :show-inheritance:

