import os
import typing as t
from pathlib import Path

import numpy as np
import pandas as pd
import pydantic
import pydantic_settings
from contraqctor import contract, qc
from contraqctor.contract.harp import HarpDevice
from matplotlib import pyplot as plt

from {{ python_package_name }} import __semver__
from {{ python_package_name }}.data_contract import dataset
from {{ python_package_name }}.rig import {{ python_class_prefix }}Rig

def make_qc_runner(dataset: contract.Dataset) -> qc.Runner:
    _runner = qc.Runner()
    loading_errors = dataset.load_all(strict=False)
    exclude: list[contract.DataStream] = []
    return _runner


class DataQcCli(pydantic_settings.BaseSettings, cli_kebab_case=True):
    data_path: pydantic_settings.CliPositionalArg[os.PathLike] = pydantic.Field(
        description="Path to the session data directory."
    )
    version: str = pydantic.Field(default=__semver__, description="Version of the dataset.")

    def cli_cmd(self):
        my_dataset = dataset(Path(self.data_path), self.version)
        runner = make_qc_runner(my_dataset)
        runner.run_all_with_progress()


if __name__ == "__main__":
    cli = pydantic_settings.CliApp().run(DataQcCli)
